body{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937
}

#logo{
    font-size: 24px;
    color: #f9faf8;
}
.left-links{
    display:flex;
    align-items: right;
    color: white;
    padding-left: 5%
}
.right-links{
    display:flex;
    align-items: left;
    padding-right: 5%;
    color: white;
}
.streak-one{
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
}
.left-box{
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    align-items: center;
    color: white;
    padding: 5%;

}
.right-box{
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.streak-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}
.streak-two-bits{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.imagetext{
    display: flex;
    flex-wrap: wrap;
    max-width: 10%;
}
.streak-three{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 5%
}
.quote{
    max-width: 50%;
    flex-wrap: wrap;
    font-size: 36px;
    font-style: italic;
    color: #1f2937
}
.quoter{
    align-self: right;
    font-size: 30px;
    color: #1f2937;
    justify-self: flex-end;
}
.streak-four{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.button-etc{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3882f6;
    width: 60%;
    border-radius:5px;
    padding-right: 3%;
}
.moneygrub{
    max-width: 80%;
    color: white;
    padding-left: 10%;

}
.button{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 15px;
}
#heromain{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
#herosecond{
    font-size:18px;
    color: #e5e7eb;
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;  
    gap: 15px; 
}
a{
    text-decoration: none;
    
}
button{
    background-color: #3882f6;
    color: white;
    border-color: white;
    height: 30px;
    border-radius: 5px;
    font-weight: 400;
}